@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}

.animate-fade-in-delay {
  animation: fadeIn 0.6s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.animate-fade-in-delay-2 {
  animation: fadeIn 0.6s ease-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
}